{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block content %}


<div class="page">
	<div class="container">

		{% for post in posts %}

		<!-- Если пост опубликован и расположен в разделе "Аксессуары" -->
		{% if post.published_date %}
		{% if post.tag == 'accessories' %}	
					
		<div class="margin-70">
            <!-- <p>{{ post.published_date }}</p> -->
            	<h2><a href='{% url 'post_detail' pk=post.pk %}'>{{ post.title }}</a></h2>

            		{{ post.text|linebreaks }}

                        {% thumbnail post.picture_set.all.0.picture "x600" crop="center" as im %}
                            <a href='{% url 'post_detail' pk=post.pk %}'><img src="{{ im.url }}" alt="{{ post.text }}"></a>
                        {% endthumbnail %}

        </div>

		{% endif %}
		{% endif %}
		{% endfor %}

	</div>
</div>



{% endblock %}