{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->
<html lang="en-US"> <!--<![endif]-->
<head>
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Blog</title>   
<meta name="description" content="Insert Your Site Description" /> 
<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   
<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Main Style -->
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<!-- Supersized -->
<link href="{% static 'css/supersized.css' %}" rel="stylesheet">
<link href="{% static 'css/supersized.shutter.css' %}" rel="stylesheet">
<!-- FancyBox -->
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<!-- Font Icons -->
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
<!-- Shortcodes -->
<link href="{% static 'css/shortcodes.css' %}" rel="stylesheet">
<!-- Responsive -->
<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!-- Supersized -->
<link href="{% static 'css/supersized.css' %}" rel="stylesheet">
<link href="{% static 'css/supersized.shutter.css' %}" rel="stylesheet">
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Exo+2:300,200,200italic,300italic,800italic,700,400,400italic,600italic,700italic,900,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Fav Icon -->
<link rel="shortcut icon" href="#">
<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">
<!-- Modernizr -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End Analytics -->
</head>
<body>
<div id="wrap">
  <!-- Header -->
  <header>
      <div class="sticky-nav">
      	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>          
          <div id="logo">
          	<a href='{% url 'index' %}' title="На главную">Блог</a>
          </div>          
          <nav id="menu">
          	<ul id="menu-nav">            	  
                  <li><a class='external' href='{% url 'creative' %}'>Твори</a></li>
                  <li><a class='external' href='{% url 'reviews' %}'>Пиши</a></li>
                  <li><a class='external' href='{% url 'gallery' %}'>Вдохновляйся</a></li>                
                  <li><a class='external' href='{% url 'contact' %}'>Контакты</a></li> 				
            </ul>
          </nav>          
      </div>
  </header>
  <!-- End Header -->
  <div id="main">
    {% block content %}
    {% endblock %}
  </div>
</div>
<!-- Footer -->
<footer id="bottom">
	<p class="credits">&copy;2015 Копирайт.</p>
</footer>
<!-- End Footer -->
<!-- Js -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script> <!-- jQuery Core -->
<script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap -->
<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script> <!-- Slider -->
<script src="{% static 'js/waypoints.js' %}"></script> <!-- WayPoints -->
<script src="{% static 'js/waypoints-sticky.js' %}"></script> <!-- Waypoints for Header -->
<script src="{% static 'js/jquery.isotope.js' %}"></script> <!-- Isotope Filter -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script> <!-- Fancybox -->
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script> <!-- Fancybox for Media -->
<script src="{% static 'js/jquery.tweet.js' %}"></script> <!-- Tweet -->
<script src="{% static 'js/plugins.js' %}"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{% static 'js/main.js' %}"></script> <!-- Default JS -->
<!-- Placeholder -->
<script type="text/javascript">
  $(document).ready(function(){
  Modernizr.load([
  {
    test: Modernizr.placeholder,
    nope: "{% static 'js/placeholder.js' %}", 
    complete : function() {
        if (!Modernizr.placeholder) {
            Placeholders.init({
            live: true,
            hideOnFocus: false,
            className: "yourClass",
            textColor: "#999"
            });    
        }
    }
  }
  ]);
  });
</script>
<!-- End Js -->
</body>
</html>