{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block menu %}

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a href="title" class="external" title="Вернуться на первый экран">Brushed Template</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	  <!-- <li><a href="title" class="external">Вывеска</a></li> -->
                <li><a href="creative" class="external">Проекты</a></li>
                <li><a href="reviews" class="external">Тексты</a></li>
                <li><a href="gallery" class="external">Фотографии</a></li>
                <li><a href="about" class="external">Обо мне</a></li>
                <li><a href="contact" class="external">Контакты</a></li>
				
          </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

{% block content %}

{% endblock %}

<!-- Footer -->
<footer>
	<p class="credits">&copy;2015 Здесь типа копирайт и всякое такое.</p>
</footer>
<!-- End Footer -->

<!-- Back To Top
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
End Back to Top -->

{% endblock %}