{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>

<!-- Meta -->
<meta charset="utf-8">
<title>The Blog</title>
<meta name="description" content="The Blog" />
<meta name="keywords" content="blog, design, art" />
<meta name="robots" content="index, follow" />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Main CSS -->
<link href="{% static 'css/main.css' %}" rel="stylesheet">

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Exo+2:300,200,200italic,300italic,800italic,700,400,400italic,600italic,700italic,900,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<!-- Modernizr -->
<script src="{% static 'js/modernizr.js' %}"></script>

<!-- GA -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-75634104-1', 'auto');
	ga('send', 'pageview');
</script>
<!-- End Analytics -->

</head>

<body>

	<div id="wrap">
		<!-- Header -->
		<header>

			<div class="sticky-nav">
				<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

				<div id="logo">
					<a href='{% url 'index' %}' title="На главную">Блог</a>
				</div>

				<nav id="menu">
					<ul id="menu-nav">
						<li><a class='external' href='{% url 'creative' %}'>Твори</a></li>
						<li><a class='external' href='{% url 'reviews' %}'>Пиши</a></li>
						<li><a class='external' href='{% url 'gallery' %}'>Вдохновляйся</a></li>
						<li><a class='external' href='{% url 'contact' %}'>Контакты</a></li>
				</nav>

			</div>

		</header>
		<!-- End Header -->

		<div id="main">
			{% block content %}
			<!-- CONTENT -->
			{% endblock %}
		</div>

	</div>

	<!-- Footer -->
	<footer id="bottom">
		<p class="credits">&copy;2015 Копирайт.</p>
	</footer>
<!-- End Footer -->

<!-- Js -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> <!-- jQuery Core -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> <!-- Bootstrap JS -->
<script src="{% static 'js/waypoints.js' %}"></script> <!-- WayPoints -->
<script src="{% static 'js/waypoints-sticky.js' %}"></script> <!-- Waypoints for Header -->
<script src="{% static 'js/jquery.isotope.js' %}"></script> <!-- Isotope Filter -->
<script src="{% static 'js/jquery.tweet.js' %}"></script> <!-- Tweet -->
<script src="{% static 'js/plugins.js' %}"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{% static 'js/main.js' %}"></script> <!-- Default JS -->
<script src="{% static 'js/map.js' %}"></script> <!-- YandexMap JS -->

<!-- Placeholder -->
<script type="text/javascript">
	$(document).ready(function(){
	Modernizr.load([
	{
		test: Modernizr.placeholder,
		nope: "{% static 'js/placeholder.js' %}", 
		complete : function() {
				if (!Modernizr.placeholder) {
						Placeholders.init({
						live: true,
						hideOnFocus: false,
						className: "yourClass",
						textColor: "#999"
						});    
				}
		}
	}
	]);
	});
</script>

<!-- End Js -->
</body>
</html>