{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% block content %}
<div class="page">
    <div id="container-creative" class="container">  
        <div class="row">
            <!-- Раздел -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb"><a href='{% url 'accessories' %}'>Аксессуары</a></span>
                    </div>
                    <img src="{% static 'img/profile/profile-01.jpg' %}" alt="Название">
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb"><a href='{% url 'accessories' %}'>Тестовый раздел</a></span>
                    </div>
                    <img src="{% static 'img/profile/profile-02.jpg' %}" alt="Название">
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Название раздела</span>
                    </div>
                    <img src="{% static 'img/profile/profile-03.jpg' %}" alt="Название">
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
        </div>
    </div>
</div>
{% endblock %}