{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% block content %}
<div class="page">
    <div class="container">  
        <div class="row">
            <!-- Раздел -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <a href='{% url 'accessories' %}'><span class="overlay-img"></span></a>
                        <span class="overlay-text-thumb"><a href='{% url 'accessories' %}'>Аксессуары</a></span>
                    </div>
                    <a href='{% url 'accessories' %}'>
                        <img src="{% static 'img/profile/profile-01.jpg' %}" alt="Название">
                    </a>
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <a href='#'><span class="overlay-img"></span></a>
                        <span class="overlay-text-thumb"><a href='#'>Тестовый раздел</a></span>
                    </div>
                    <a href='#'><img src="{% static 'img/profile/profile-02.jpg' %}" alt="Название"></a>
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <a href='#'><span class="overlay-img"></span></a>
                        <span class="overlay-text-thumb"><a href='#'>Тестовый раздел</a></span>
                    </div>
                    <a href='#'><img src="{% static 'img/profile/profile-03.jpg' %}" alt="Название"></a>
                </div>
                <p class="profile-description">Описание раздела.</p>
            </div>
            <!-- Раздел -->
        </div>
    </div>
</div>
{% endblock %}