{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% block content %}

	<div class="container">

			<div class="row">

				<div class="col-md-8 col-md-offset-2 col-xs-12">

					<div class="title-page">

						<h1 class="page-header">Предисловие</h1>

						<p><b>"Твори"</b> - разделы с тематическими постами, в каждом разделе деление на страницы (по 10 постов).</p>
						<p><b>"Пиши"</b> - карта с метками и интерактивное меню. Ссылки на обзоры отображаются внутри подсказок на карте, по ссылке открывается новая вкладка в браузере.</p>
						<p><b>"Вдохновляйся"</b> - галерея фотографий.</p>
						<p><b>"Контакты"</b> - адреса и телефоны.</p>

					</div>

				</div>

			</div>

	</div>

{% endblock %}