{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% block content %}
<div class="page">
    <div class="container">
        <!-- Заголовок -->
        <div class="row">
            <div class="span9">
                <div class="title-page">
                    <h2 class="title">Предисловие</h2>
                    <p>"Твори" - разделы с тематическими постами, в каждом разделе деление на страницы (по 10 постов), чтобы быстрее грузился сайт. В самом низу есть листалка страниц.</p>
                    <p>"Пиши" - карта с метками и интерактивная менюшка. Ссылки на обзоры отображаются внутри подсказок на карте, по ссылке открывается новая вкладка в браузере.</p>
                    <p>"Вдохновляйся" - галерея фотографий.</p>
                    <p>"Контакты" - форма обратной связи.</p>
                </div>
            </div>
        </div>
        <!-- Заголовок -->
    </div>
</div>
{% endblock %}