{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% block content %}

<div class="page">
	<div class="container">

	        	<h1>Новый пост</h1>
    				<form method="POST" class="contact-form" enctype="multipart/form-data" >{% csrf_token %}

        				{{ post_form.as_ul }}

				        <div id="fieldset-person">
				            <fieldset>				            	
				                {{ picture_formset.management_form }}
				                {{ picture_formset.non_form_errors }}            
				                {% for picture_form in picture_formset %}				                
				                <div>
				                    {{ picture_form.as_ul }}

				                </div>
				                <div>
				                    {{ picture_form.description.errors }}
				                    {{ picture_form.description.label_tag }}
				                    {{ picture_form.description }}
				                </div>
				                {% endfor %}
				            </fieldset> 
				        </div>

    				<button type="submit" class="save btn btn-default">Сохранить пост</button>
    
    				</form>

    </div>
</div>


{% endblock %}