{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% block content %}
<div class="page">
	<div class="container">
    	<div class="row">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 single-post" id="post-detail">
	    		<div class="row">
			    	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 post-title">
			    		<h3>{{ post.title }}</h3>
			    	</div>
			    	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 post-published-date">
			    		<p>{{ post.published_date|date:"d E Y" }}</p>
			    	</div>
		    	</div>
	    		{{ post.text|safe|linebreaks }}
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
