{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% load replace_commas %}
{% block content %}
<script src="//yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script> <!-- Yandex JQuery -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> <!-- Yandex Maps API -->
<script src="{% static 'js/map.js' %}"></script>
<script>
// Группы объектов
var groups = [
        {% for dot in dots %}
        {
            name: "{{ dot.0 }}",
            style: "islands#{{ dot.1 }}Icon",
            items: [
                {% for review in reviews %}
                {% if review.position.latitude and review.position.longitude %}
                {% if review.tag == dot.2 %}
                {
                    center: [{{ review.position.latitude|stringify }}, {{ review.position.longitude|stringify }}],
                    name: "{{ review.title }} ({{ review.address }})",
                    url: "{% url 'review_detail' pk=review.pk %}",
                    head: "{{ review.title }}",
                    body: "{{ review.address }}"
                },
                {% endif %}
                {% endif %}
                {% endfor %} 
            ]},
        {% endfor %}
        ];
</script>
<div class="page">
    <div id="map-container" class="container">
        <div class="row">
            <div class="span9" id="map"> <!-- Map  --> </div>
            <div class="span5" id="map-menu"> <!-- Menu --> </div>
        </div>
    </div>
</div>
{% endblock %}