{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% block content %}

	<div class="container">

		<div class="row">

			<div class="single-post single-post--detail col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="row">

					<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
						<h3 class="single-post__title">{{ review.title }}</h3>
					</div>

					<div class="single-post__published-date col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<p>{{ review.published_date|date:"d E Y" }}</p>
					</div>

				</div>

				{{ review.text|safe|linebreaks }}

			</div>

		</div>

	</div>

{% endblock %}
