{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block content %}

<div id="work" class="page">
    <div class="container">     
	    <div class="post">
	        <div class="post">
	            {% if review.published_date %}
	                <div class="date">
	                    {{ review.published_date }}
	                </div>
	            {% endif %}
	            <h1>{{ review.title }}</h1>
	            <p>{{ review.text|safe|linebreaks }}</p>
	        </div>  
	    </div>
	</div>
</div>


{% endblock %}
