{% extends 'blog/base_menu.html' %}

{% load staticfiles %}

{% block content %}

<!-- About Section -->
<div id="about" class="page">
<div class="container">  
    <!-- People -->
    <div class="row">
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb"><a href='{% url 'shops' %}'>Магазины</span>
                </div>
                <img src="{% static 'img/profile/profile-01.jpg' %}" alt="Название">
            </div>
            <!-- <h3 class="profile-name">John Doe</h3> -->
            <!-- <p class="profile-description">Название раздела.</p> -->

        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Название раздела</span>
                </div>
                <img src="{% static 'img/profile/profile-02.jpg' %}" alt="Название">
            </div>
            <!-- <h3 class="profile-name">Jane Helf</h3> -->
            <!-- <p class="profile-description">Здесь будет описание раздела, например.</p> -->

        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Название раздела</span>
                </div>
                <img src="{% static 'img/profile/profile-03.jpg' %}" alt="Название">
            </div>
            <!-- <h3 class="profile-name">Joshua Insanus</h3> -->
            <!-- <p class="profile-description">Можно и без него обойтись.</p> -->
                
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->

{% endblock %}