{% extends 'blog/base_menu.html' %}
{% load staticfiles %}
{% block content %}
<div class="page">
	<div class="container">
    	<div class="row">
	    	<div class="span12 single-post" id="post-detail">
	    		<div class="row post-header">
			    	<div class="post-title span10">
			    		<h3>{{ review.title }}</h3>
			    	</div>
			    	<div class="post-published-date span2">
			    		<p>{{ review.published_date|date:"d E Y" }}</p>
			    	</div>
		    	</div>
	    		{{ review.text|safe|linebreaks }}
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
